In [3]:
import numpy as np
import pandas as pd

In [9]:
parking = pd.read_csv('result.csv').head(3)
parking

,WKT,id,geo_id,buurtcode,stadsdeel,straatnaam,aantal,soort,type,e_type,e_type_desc,bord
0,"POLYGON ((110677.64 492542.17,110672.28 492543...",110675492544,110675492544,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs,NaN,NaN,NaN
1,"POLYGON ((110683.02 492541.02,110677.64 492542...",110681492543,110681492543,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs,NaN,NaN,NaN
2,"POLYGON ((110683.44 492542.97,110690.81 492541...",110687492541,110686492541,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs,NaN,NaN,NaN

In [7]:
parking.to_csv('parking.csv')

In [8]:
parking.columns

Index(['WKT', 'id', 'geo_id', 'buurtcode', 'stadsdeel', 'straatnaam', 'aantal',
       'soort', 'type', 'e_type', 'e_type_desc', 'bord'],
      dtype='object')

In [ ]:
columns_english = ["WKT", "ID", "GEO_ID", "NEIGBORHOOD_CODE", "URBAN_AREA", 
                   "SREET_NAME", "QUANTITY", "CATEGORY", "TYPE", "E_TYPE", "E_TYPE_DESC", "SIGN"]